@model AC.Web.Models.ShoppingCart.OrderTotalsModel

<div class="total-info">
    <table class="cart-total">
        <tbody>
        <tr class="order-total">
            <td class="cart-total-left">
                <label>Итог:</label>
            </td>
            <td class="cart-total-right">
                <span class="value-summary"><strong>@Model.OrderTotal тенге</strong></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>