@model TopicModel
@using AC.Web.Models.Topics;

<div class="topic-block">
    @if (!String.IsNullOrEmpty(Model.Title))
    {
        <div class="topic-block-title">
            <h2>@Model.Title</h2>
        </div>
    }
    <div class="topic-block-body">
        @Html.Raw(Model.Body)
    </div>
</div>