@{ 
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}

<div class="master-wrapper-page">
    @Html.Partial("Header")
    <div class="header-menu">

    </div>
    <div class="master-wrapper-content">
        <div class="master-column-wrapper">
            @RenderBody()
        </div>
    </div>
</div>