<div class="header">
    <div class="header-upper">
        <div class="header-selectors-wrapper">
            @*@Html.Action("LanguageSelector", "Common")*@
        </div>
        <div class="header-links-wrapper">
            @Html.Action("HeaderLinks", "Common")
        </div>
    </div>
    <div class="header-lower">
        <div class="header-logo">
            @Html.Action("Logo", "Common")
        </div>
        <div class="search-box store-search-box">
            @Html.Action("SearchBox", "Catalog")
        </div>
    </div>
</div>