<div class="header">
    <div class="header-upper">
        <div class="header-selectors-wrapper">
            @*@Html.Action("LanguageSelector", "Common")*@
        </div>
        <div class="header-links-wrapper">
            @Html.Action("HeaderLinks", "Common")
        </div>
    </div>
</div>