@model ItemModel
@using AC.Web.Models.Catalog;

@using (Html.BeginForm(null, null, FormMethod.Post, new {id = "product-form"}))
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h3 class="pull-left">
            Добавить новый
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("Назад в кабинет", "Info")</small>
        </h3>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                Сохранить
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                Сохранить и продолжить
            </button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}