@model UserInfoModel
@using AC.Web.Models.User

@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
}
@section left
{
    @* TODO навигация пользователя *@    
}

<div class="page account-page customer-info-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Account.CustomerInfo")</h1>
    </div>
    <div class="page-body">
        
    </div>
</div>